@charset "utf-8";

html {
    width:100%;
    height:100%;
    overflow:hidden;
    --toolbar-height:28px;
    --sidebar-width:240px;
    --main-menu-width:240px;
    --tab-height:24px;
    --tab-font-size:12px;
    --tab-button-font-size:14px;
    --sidebar-bottom-height:24px;
    --sidebar-bottom-font-size:18px;
    --tree-bottom-padding:72px;

    --toolbar-bg:#333333;
    --toolbar-fg:#ffffff;
    --toolbar-border:#666666;
    --tab-bg:#333333;
    --tab-fg:#ffffff;
    --tab-top:#666666;
    --tab-bottom:#000000;
    --focused-tab-bg:#555555;
    --tree-bg:#777777;
    --tree-bg-alt:#888888;
    --tree-fg:#ffffff;
    --tab-destination-marker:#ffffff;
}
html.moving-tab * {
    cursor:move !important;
}
body {
    width:100%;
    height:100%;
    margin:0;
    overflow:hidden;
}
#toolbar {
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:var(--toolbar-height);
    display:flex;
    align-items:center;
    background-color:var(--toolbar-bg);
    color:var(--toolbar-fg);
}
#address {
    flex-grow:1;
    box-sizing:border-box;
    border:none;
    padding-left:0.4rem;
    padding-right:0.4rem;
    padding-top:3px;
    padding-bottom:3px;
    background-color:inherit;
    color:inherit;
}
#back, #forward, #reload, #error-indicator, #toggle-sidebar, #show-main-menu {
    height:var(--toolbar-height);
    line-height:var(--toolbar-height);
    width:var(--toolbar-height);
    cursor:default;
    text-align:center;
    font-size:18px;  /* TODO relate to toolbar-height */
}
.disabled {
    opacity:0.5;
}
#back::before {
    content:"◀";
}
#forward::before {
    content:"▶";
}
#reload::before {
    content:"⭮";
}
#reload.loading::before {
    content:"✕";
}
#error-indicator {
    display:none;
}
#error-indicator.has-error {
    display:block;
}
#error-indicator::before {
    color:red;
    content:"⚠";
}
#toggle-sidebar::before {
    content:"⭲";
}
html.hide-sidebar #toggle-sidebar::before {
    content:"⭰";
}
#show-main-menu::before {
    content:"⋯";
}
#sidebar {
    position:absolute;
    right:0;
    top:var(--toolbar-height);
    bottom:0;
    width:var(--sidebar-width);
    box-sizing:border-box;
    background-color:var(--toolbar-bg);
    display:flex;
    flex-direction:column;
}
html.hide-sidebar #sidebar {
    display:none;
}
.list {
    background-color:var(--tree-bg);
}
.list.alt {
    background-color:var(--tree-bg-alt);
}

#tree {
    flex-grow:1;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color:var(--tree-bg);
}
#new-tab {
    width:100%;
    height:var(--tree-bottom-padding);
    text-align:center;
    color:var(--tree-fg);
}
#new-tab::before {
    content:"🞢";
}

#sidebar-bottom {
    flex-shrink:0;
    height:var(--sidebar-bottom-height);
    background-color:var(--toolbar-bg);
    color:var(--toolbar-fg);
    font-size:var(--sidebar-bottom-font-size);
    font-weight:bold;
    line-height:var(--sidebar-bottom-height);
    display:flex;
}
#resize, #show-closed {
    flex-shrink:0;
    box-sizing:border-box;
    width:var(--sidebar-bottom-height);
    text-align:center;
    border-right:1px solid var(--toolbar-border);
}
#resize {
    cursor:ew-resize;
}
#resize::before {
    content:"↔";
}
#show-closed::before {
    content:"⊗";
}
html:not(.show-closed) #show-closed::before {
    opacity:0.5;
}

.item.closed > .tab {
    opacity:0.5;
}
html:not(.show-closed) .item.closed {
    display:none;
}

.tab {
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:var(--tab-height);
    font-size:var(--tab-font-size);
    border-top:1px solid var(--tab-top);
    border-left:1px solid var(--tab-top);
    border-bottom:1px solid var(--tab-bottom);
    background-color:var(--tab-bg);
    color:var(--tab-fg);
    display:flex;
    align-items:center;
    outline:none;
}
.item:not(.parent) > .tab {
    padding-left:4px;
}
.tab.focused {
    background-color:var(--focused-tab-bg);
}
.favicon {
    width:16px;
    height:16px;
    flex-shrink:0;
    margin-right:4px;
}
.favicon:not(.loaded) {
    display:none;
}
.title {
    flex-grow:1;
    overflow:hidden;
    white-space:pre;
    cursor:default;
    font-family:sans-serif;
}
.tab:not(.loaded) > .title {
    opacity:0.7;
}
.tab:not(.visited) > .title {
    font-style:italic;
}
.expand, .new-child, .star, .close {
    display:none;
    flex-shrink:0;
    width:16px;
    height:var(--tab-height);
    line-height:var(--tab-height);
    text-align:center;
    margin:0;
    border:none;
    padding:0;
    background:none;
    font-size:var(--tab-button-font-size);
    font-family:sans-serif;
}
.item.parent > .tab > .expand,
.tab:hover > .new-child,
.tab:hover > .star,
.tab.focused > .close,
.tab.focused > .new-child,
.tab.focused > .star,
.tab.starred > .star {
    display:block;
}
.item:not(.parent) > .tab {
    padding-left:16px;
}
.expand::before {
    display:block;
    font-size:80%;
    content:"▶︎";
}
.item.expanded > .tab > .expand::before {
    transform:rotate(90deg);
}
.new-child::before {
    content:"🞢";
}
.star::before {
    font-size:120%;
    content:"✩";
}
.tab.starred > .star::before {
    content:"🟊";
}
.close::before {
    content:"✕";
}
.child-count {
    padding-left:0.2em;
    padding-right:0.2em;
}
.child-count:empty,
.item.expanded > .tab > .child-count,
.tab:hover > .child-count {
    display:none;
}
.item > .list {
    display:none;
    padding-left:4px;
}
.item.expanded > .list {
    display:block;
}
#main-menu {
    position:absolute;
    right:0;
    top:var(--toolbar-height);
    bottom:0;
    width:var(--main-menu-width);
    box-sizing:border-box;
    background-color:var(--toolbar-bg);
    color:var(--toolbar-fg);
    display:flex;
    flex-direction:column;
    visibility:hidden;
}
#main-menu > div {
    box-sizing:border-box;
    margin-left:12px;
    padding:4px;
    font-family:sans-serif;
    font-size:12px;
    cursor:default;
}
html.show-main-menu #main-menu {
    visibility:visible;
}
.tab-destination-marker {
    position:absolute;
    width:100%;
    box-sizing:border-box;
    border:2px solid var(--tab-destination-marker);
}
.tab-destination-marker.inside {
    top:0;
    bottom:0;
    height:100%;
}
.tab-destination-marker.before {
    margin-top:-1px;
    top:0;
    height:0;
}
.tab-destination-marker.after {
    margin-bottom:-1px;
    bottom:0;
    height:0;
}
