@charset "utf-8";

html {
    width:100%;
    height:100%;
    overflow:hidden;
    --toolbar-height:28px;
    --sidebar-width:240px;
    --tab-height:24px;
    --tab-font-size:12px;
}
body {
    width:100%;
    height:100%;
    margin:0;
    overflow:hidden;
}
#toolbar {
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:var(--toolbar-height);
    display:flex;
    align-items:center;
    background-color:var(--toolbar-bg);
    color:var(--toolbar-fg);
}
#toolbar > input {
    flex-grow:1;
    height:var(--toolbar-height);
    border:none;
    padding-left:0.4rem;
    padding-right:0.4rem;
    background-color:inherit;
}
#toolbar > button {
    height:var(--toolbar-height);
    width:var(--toolbar-height);
    border:none;
    background-color:inherit;
    font-size:18px;  /* TODO relate to toolbar-height */
}
button:disabled {
    opacity:0.5;
}
.back::before {
    content:"◀";
}
.forward::before {
    content:"▶";
}
.main-menu::before {
    content:"⋯";
}
#sidebar {
    position:absolute;
    right:0;
    top:var(--toolbar-height);
    bottom:0;
    width:var(--sidebar-width);
    box-sizing:border-box;
    overflow:scroll;
    background-color:var(--toolbar-bg);
    cursor:ew-resize;
}
.tab {
    box-sizing:border-box;
    width:100%;
    height:var(--tab-height);
    font-size:var(--tab-font-size);
    border-left:1px solid var(--tab-highlight);
    border-top:1px solid var(--tab-highlight);
    border-right:1px solid var(--tab-shadow);
    border-bottom:1px solid var(--tab-shadow);
    background-color:var(--tab-bg);
    color:var(--tab-fg);
    cursor:auto;
    display:flex;
    align-items:center;
}
.title {
    flex-grow:1;
    overflow:hidden;
    white-space:pre;
    cursor:default;
}
.item > .list {
    display:none;
    padding-left:4px;
}
.item.expanded > .list {
    display:block;
}
.expand, .close {
    display:none;
    width:var(--tab-height);
    height:var(--tab-height);
    margin:0;
    border:none;
    padding:0;
    background:none;
    font-size:var(--tab-font-size);
}
.item.parent > .tab > .expand,
.tab:hover > .close {
    display:block;
}
.expand::before {
    content:"▶︎";
}
.item.expanded > .tab > .expand::before {
    transform:rotate(0.25turn);
}
.close::before {
    content:"X";
}
.tab:not(.loaded) > .title {
    opacity:0.5;
}
